ol {
  list-style: none;
  padding-left: 0;
}

p {
  margin: 0;
}

.header {
  background: rgba(0,0,0,.15);
  text-align: center;
  height: 55px;
}
.header h1 {
  margin: 0;
  line-height: 55px;
  color: #fff;
  font-style: italic;
}

.board {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 75px 10px 10px 10px;

}
.board-lists {
  display: flex;
  flex-direction: row;
  margin: 0;
  overflow-y: hidden;
  overflow-x: auto;
}
.board-button {
  border-radius: 3px;
  border-color: transparent;
  width: 275px;
  color: #fff;
  background-color: hsla(0,0%,100%,.24);
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
  text-align: left;
  height: fit-content;
}

.cardlist {
  background-color: #ebecf0;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  width: 275px;
  margin-right: 10px;
  max-height: 100%;
  padding-right: 10px;
  padding-left: 10px;
}
.cardlist-cards {
  overflow: auto;
}
.cardlist-title {
  font-size: 16px;
  margin: 0 0 5px;
  padding: 10px 10px 0 10px;
}
.cardlist-subtitle {
  margin: 0 0 20px;
  color: #5e6c84;
  padding: 0 10px 0 10px;
}
.cardlist-newcard {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  margin-bottom: 8px;
  min-height: 50px;
  max-height: 200px;
  padding: 10px;
  font-size: 14px;
  border: none;
  overflow: hidden;
  resize: none;
}
.cardlist-newcard:focus,
.cardlist-button-addcard:focus,
.cardlist-button-newcard:focus {
  outline: none;
}
.cardlist-button-addcard {
  background-color: #5aac44;
  border: none;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 3px;
  font-weight: 600;
  padding: 8px 16px;
  text-align: center;
  width: fit-content;
}
.cardlist-button-cancel {
  font-size: 24px;
  cursor: pointer;
  color: #5e6c84;
  vertical-align: middle;
}
.cardlist-button-newcard {
  background-color: transparent;
  border: none;
  text-align: left;
  font-size: 14px;
  color: #5e6c84;
  cursor: pointer;
  margin: 10px 0;
  font-weight: 500;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  margin-bottom: 8px;
  min-height: 20px;
  max-height: 200px;
  padding: 10px;
  margin-right: 5px;
}

.tags {
  margin-bottom: 5px;
}

.tag {
  display: inline-block;
  background-color: #ff9f1a;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  padding: 2px 8px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}